body {
    width : 40%;
    max-width: 500px;
    min-width: 500px;
    line-height: 150%;
    text-indent: 5px;
    background-color: grey;
    background-size: 100%;
    margin : auto;
}
aside{
    max-width: 250px;
    min-width: 150px;
    flex-shrink: 2;
    flex-grow: 0;
}

article{
    max-width: 500px;
    min-width: 200px;
    flex-shrink: 0;
    flex-grow: 3;
}

main {
    background-color: rgba(131, 136, 146, 0.5);
}

nav {
    font-weight: bold;
    height: 50px;
    background-color: rgba(131, 136, 146, 0.5);
    display: flex;
}
nav div {
    display: flex;
    position: relative;
    padding-left: 4px;
    width: 100px;
    align-items: stretch;
}
nav div a{
    align-items: center;
}

nav div:hover .submenu{
    display:block;
}

@font-face {
    font-family: AlexBrush;
    src: url(font/AlexBrush-Regular.ttf);
}

h3{
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 0 10px;
}
h2 {
    text-align: center;
    font-family: "AlexBrush", "Lucida Sans Unicode", "Arial", "sans-serif";
    border: 4px solid rgba(42, 127, 32, 0.5);
    border-radius: 25px;
}
p {
    margin: 0 30px;
    font-family: "courier-std", courier, monospace;
}
li {
    font-family: "courier-std", courier, monospace;
}

a {
    text-decoration: none;
    color: rgba(50, 125, 95, 0.75);
}
a:visited {color: #002645;}
a:hover {color: #090909;}


tbody tr:nth-of-type(even){
    background-color: rgba(204, 204, 204, 0.5);
}
tbody tr:nth-of-type(odd){
    background-color: rgba(255, 255, 255, 0.5);
}
thead {
    background-color: rgba(90, 123, 167, 0.5);
}

td {text-align: center;}

.logo {
    width: 50px;
    margin: 0 auto;
}

@media(min-width:768px) {
    table{
        display: none;
    }
}
@media(min-width:480px) {

}