body {
    width : 100%;
    line-height: 150%;
    text-indent: 5px;
    background-color: grey;
    background-size: 100%;
    margin : auto;
}

nav {
    font-weight: bold;
    height: 50px;
    display: flex;
}
nav div {
    display: flex;
    position: relative;
    padding-left: 4px;
    width: 100px;
    align-items: stretch;
}
nav div a{
    align-items: center;
}

nav div:hover .submenu{
    display:block;
}

h3{
    padding: 0 10px;
    text-decoration: underline;
    font-family: "Verdana", "Lucida Sans Unicode", "Arial", "sans-serif";
}
h2 {
    text-align: center;
    font-family: "Verdana", "Lucida Sans Unicode", "Arial", "sans-serif";
    border: 4px solid rgba(32, 127, 124, 0.5);
    border-radius: 25px;
    color: rgba(27, 60, 99, 0.75);
}

h1 {
    font-family: "Verdana", "Lucida Sans Unicode", "Arial", "sans-serif";
    text-decoration: underline;
    color: rgba(40, 27, 99, 0.75);
}

p {
    margin: auto;
    font-family: "Verdana", "Lucida Sans Unicode", "Arial", "sans-serif";
}
a {
    text-decoration: none;
    color: rgba(50, 125, 95, 0.75);
}
a:visited {color: #002645;}
a:hover {color: #090909;}

td {text-align: center;}

img{
    display: block;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    margin: 0 auto;
    position: sticky;
    display: block;
    float: left;
}

.footage{
    padding: 0 10px;
    margin: auto;
}

.line{
    width: 100%;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.smallLogo{
    width: 50px;
    padding: 0 10px;
    margin: auto;
}